os:
  - linux
  - osx
matrix:
  include:
  - os:
    - linux
    - osx
    language: csharp
    mono: none
    dotnet: 1.0.1
    dist: trusty
    solution: new.sln
    script:
    - cd webapi && ulimit -n 2048; dotnet restore && dotnet build
  - os:
    - linux
    - osx
    language: node_js
    node_js:
    - node
    before_install: cd client
    install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    before_script: yarn
    script:
    - yarn test